//OrderConfirmationPage Component
.orderConfirmationContainer {
  background-color: #f7f7f7;
  padding: 69px 0px 49px;
  margin: 10px;
  .orderConfirmationSection {
    width: 80%;
    padding-left: 8.9%;
  }
}
