/* NavButton component */
.menuItem {
    display: inline-flex;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
    color: #5c6170;
    padding: 0 22px;
    border-radius: 10px;
    cursor: pointer;
}
.menuItem:hover {
    background-color: #829fff;
}
.active {
    color: whitesmoke;
    background-color: #829fff;
}