/* Header component */
#app-name{
    font-family: "Merriweather", serif;
    font-size: 45px;
    font-weight:900;
    padding-bottom: 34px;
  }
.container {
    height: 92px;
    justify-content: space-between;
  }
form {
    display: inline-flex;
    align-items: center;
    padding: 5px 27px;
    border : 1px solid #c5cce6;
    border-radius: 10px;
    height: 100%;
    width: 32.5%;
  }
.submit-button {
    width: 40px;
    border: none;
    background-color: transparent;
  }
#search-bar {
    font-size: 24px;
    font-weight: 700;
    display: inline;
    height: 4rem;
    width: 100%;
    margin-left: 18px;
    border: none;
  }