/* Header component */
.headerText{
    font-family: "Merriweather", serif;
    font-size: 45px;
    font-weight:900;
    padding-bottom: 34px;
  }
.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
  }
