//PrimaryButton Component
.primaryButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 17px;
  background-color: #7a1655;
  color: #ffffff;
  height: 47px;
  width: 160px;
}
