/* UserCard component */
.user-card {
    min-height: 18.6rem;
    width: 29.1rem;
    background-color: #fbfcff;
    border-radius: 20px;
}
.user-card:hover {
    border: 1px solid #6c86dba6;
    box-shadow: 0px 5px 10px 0px #0000001a;
}
.user-image-container {
    width: 39%;
}
.user-image {
    margin: 33px 30px;
    height: 140px;
    width: 140px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.user-details {
    padding: 62px 10px 10px;
    width: 61%;
}
.user-name {
    display: inline-block;
    margin-bottom: 8px;
    font-family: "Merriweather", serif;
    font-size: 26px;
    font-weight: 800;
}
.user-location {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.user-tags {
    flex-wrap: wrap;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 800;
}