/* SearchBar component */
form {
    display: inline-flex;
    align-items: center;
    padding: 6px 25px;
    border : 2px solid #c5cce6;
    border-radius: 5px;
    height: 100%;
    width: 32.5%;
  }
.searchIcon {
    margin-top: 2px;
    width: 42px;
    border: none;
    background-color: transparent;
  }
.searchBar {
    font-size: 24px;
    font-weight: 500;
    display: inline;
    height: 4rem;
    width: 100%;
    padding-top: 2px;
    margin-left: 16px;
    letter-spacing: -0.5px;
    border: none;
  }
.searchBar:focus { 
    outline: none; 
  }